.login-form{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 21px;
    padding: 50px 0px;
    background-color: rgb(170, 170, 255,0.3);
}
.login-form h1{
    text-transform: uppercase;
    font-size: 30px;
    word-spacing: 15px;
    color: blueviolet;
}
form{
    width: 70%;
}
.login-btn{
    width: 20%;
    padding: 16px;
    border: none;
    background-color: blueviolet;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}
@media(width<=800px){
    .login-form h1{
        font-size: 25px;
    }
    .login-btn{
        width: 40%;
    }
}
@media(width<=480px){
    .login-form h1{
        font-size: 22px;
    }
    .login-btn{
        width: 45%;
    }
}